amqp==2.3.2
asn1crypto==0.24.0
attrs==18.1.0
Automat==0.6.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.2.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
Django>=2.0.11
django-compat==1.0.15
django-queryset-csv==1.0.1
django-widget-tweaks==1.4.2
eventlet==0.31.0
greenlet==0.4.13
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
kombu==4.2.1
lxml==4.2.1
nltk==3.3
numpy==1.14.3
pandas==0.23.0
parsel==1.4.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.4
queuelib==1.5.0
redis==2.10.6
requests>=2.20.0
selenium==3.4.1
six==1.11.0
textblob==0.15.1
unicodecsv==0.14.1
urllib3>=1.24.2
vine==1.1.4
w3lib==1.19.0
zope.interface==4.5.0
